// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
*{
  outline:1px solid hotpink;
}

body,
html, 
.body {
  background: #f1f4f7 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Specific Item templates
.price{
  font-weight: 900;
  -moz-font-size:20px;
  font-size: 20px;
}

// Full Width Headers
.header {
  background: #ff6a10;
  background-color:#ff6a10;
  white-space: nowrap;
  .columns{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    
  }
  .logo-white{
    width:128px;
  }
  #user{
    width:30px;
  }
}


.sub-header{
  background: #d65600;
  background-color:#d65600;
  white-space: nowrap;
  .columns{
    padding-top: 5px;
    padding-bottom: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    span{
      display:block; height: 20px; width:2px; background:#ff6a10;
    }
    #car-icon{
      margin-left: 10px;
      @media only screen and (max-width: #{$global-breakpoint}) {
        margin-left: 0px;
      }
    }
    #hotel-icon{
      margin-left: 5px;
      @media only screen and (max-width: #{$global-breakpoint}) {
        margin-left: 0px;
      }
    }
    
  }

  .icons{
    width:20px;
  }

  .sub-header__divider{
    padding-top: 5px;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  a{
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
  img{
    margin-right:10px;
  
  }
}

.deal{
  background:$kayak-darkcolor;
  .columns{
  padding-top: 30px !important;
  padding-bottom: 30px!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
  }
  h1{
    color:white;
  }
  p{
    color:white;
    font-weight: 900;
    text-align: center;
  }
  img{
    margin-bottom: 30px;
  }
  .small-text{
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 1px;
  }
  .smaller-text{
    font-size: 10px;
    font-weight: 500;
  }
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}