// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
// *{
//   outline:1px solid hotpink;
// }

body,
html, 
.body {
  background: #E0E1E7 !important;
  height: 2000px !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Specific Item templates
.price{
  font-weight: 700;
  -moz-font-size:20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.icons{
  width:20px;
  @media only screen and (max-width: #{$global-breakpoint}){
    width:20px !important;
  }
}

.btn-deal{
  font-weight: 900;
  font-size: 14px;
  padding:10px 50px;
  border:white 2px solid;
  border-radius: 5px;
  color: white;
  text-align: center;

}

// Full Width Headers
.header {
  background: #ff6a10;
  background-color:#ff6a10;
  white-space: nowrap;
  .columns{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    
  }
  .logo-white{
    width:128px;
  }
  #user{
    width:30px;
  }
}

.sub-header{
  background: #d65600;
  background-color:#d65600;
  white-space: nowrap;
  .columns{
    padding-top: 5px;
    padding-bottom: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    span{
      display:block; height: 20px; width:2px; background:#ff6a10;
    }
    th{
      text-align: center;
    }
    
  }
  .sub-header__divider{
    padding-top: 5px;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  a{
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
  img{
    margin-right:10px;
  
  }
}

.deal{
  background:$kayak-darkcolor;
  .columns{
  padding-top: 30px !important;
  padding-bottom: 30px!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
  }
  h1{
    color:white;
    font-weight: 800;
    margin-bottom: 20px;
  }
  a{
    color: white;
    text-align: center !important;
  }
  p{
    color:white;
    font-weight: 900;
    text-align: center;
  }
  img{
    margin-bottom: 30px;
  }
  .small-text{
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 1px;
  }
  .smaller-text{
    font-size: 10px;
    font-weight: 500;
  }
}

.more-deals{
  background: #EFF2F6;
  background-color:#EFF2F6 ;
  .columns{
      padding-top: 7px; 
      padding-bottom: 7px !important;
      padding-left: 16px !important;
      padding-right: 16px !important;
      .more-deals__details{
        background: white;
        background-color: white;
        th{
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 25px; 
          padding-right: 25px; 
        }
        h3{
          font-size: 16px;
          font-weight: 800;
          line-height: 1.1;
          color: $kayak-semidark;
          margin-top: 20px;
          margin-bottom: 15px;
        }
        .pct-number{
          color:#1A88F3;
        }
        .small-text{
          font-size: 14px;
          font-weight: 900;
          margin-bottom: 1px;
        }
        .smaller-text{
          font-size: 10px;
          font-weight: 500;
        }
        .btn-deal{
          background: $kayak-darkcolor;
          color: white;
          border:none;
        }
        &.last-offer{
          center{
            min-width: 0;
          }
          .grouped-icons{
            width: 190px;
          }
          .last-offer--text{
            font-size: 14px;
            margin-bottom: 35px;
          }
        }
      }
      
    }
  }

  .sub-footer{
    background:$kayak-semidark;
    background-color: $kayak-semidark;
    .columns.sub-footer__container{
      padding-top:25px;
      padding-bottom:25px;
      padding-left:25px;
      padding-right:25px;
     
      .kayak-circle--logo{
        width:40px;
        margin-right: 10px;
      }
      p{
        color: white;
        margin-bottom:2px ;
        font-weight: 600;
      }
      span{
        color: white;
        font-size: 12px;
        font-weight: 600;
      }
      #appstore{
        margin-right:5px;
        width:120px;
        height: 40px;
        // object-fit: contain;
       
      }
      #playstore{
        width:120px;
        height: 40px;
        // object-fit: contain;
      }

      #appstore, #playstore{
        display: inline-block;
      }
      .appstores__left-column{
        .kayak-circle--logo{
          @media only screen and (max-width: #{$global-breakpoint}){
            width:80px;
            display: block;
            float: none;
            padding-bottom: 5px;
            padding-left: 25px;
          }
        }
        p{
          @media only screen and (max-width: #{$global-breakpoint}){
            font-size: 16px;
            text-align: center;
          }
        }
        span{
          @media only screen and (max-width: #{$global-breakpoint}){
            display: none;
          }
        }
      }
      .appstores__right-column{
        img#appstore{
          @media only screen and (max-width: #{$global-breakpoint}){
            padding-bottom: 25px;
            padding-left: 20px;
            width:140px !important;
            float: none;
          }
        }
        img#playstore{
          @media only screen and (max-width: #{$global-breakpoint}){
            padding-left: 20px;
            width:140px !important;
            float: none;
            
          }
        }
      }
    }
  }

.footer-social{
  // *{
  //   outline:hotpink 2px solid;
  // }
  background: $kayak-darkcolor;
  background-color: $kayak-darkcolor;
  & > tbody > tr > th{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer-social--kayak-logo{
    vertical-align: middle;
    img{
      width:128px;
    }
  } 
  .social-icons{
    .columns{
      padding:0 5px;
    }
    img{
      width:32px;
      display: block;

    }
  }
}

/* Top padding 30px side padding 25px
125px for orange kayak logo */

/* BUILT IN stuff below */

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}