<container>
    <row class="sub-footer">
     <columns class="sub-footer__container">
        <!-- 1st column -->
        <row>
            <!-- Img Column -->
            
           <columns large="6" small="6"  class="appstores__left-column">
            <!-- <spacer class="hide-for-large"></spacer> -->
            <row class="circle-logo__footer">
                <!-- <columns class="hide-for-small" style="width:2%"></columns> -->
                <columns large="2" small="5">
                <img src="{{root}}/assets/img/logo_circle.png" alt="Kayak Logo" class="kayak-circle--logo">
                </columns>
                <columns large="9" small="6">
                    <!-- <spacer class="hide-for-large"></spacer> -->
                    <p>Download the App</p>
                    <span>Cheap flights, hotels & more</span>
                </columns>
            </row>              
            </columns>
          
        <!-- 2nd column -->
            <columns large="6" small="6" class="appstores__right-column">
                <a href="#" target="_blank"><img src="{{root}}/assets/img/appstore.png" id="appstore" class="float-left" alt="Download from the Appstore"></a>
                <a href="#" target="_blank"><img src="{{root}}/assets/img/playstore.png" id="playstore" class="float-center"  alt="Download from the Playstore"></a>
            </columns>
        </row>
    </columns>
    </row>
</container>

<container>
    <row class="footer-social">
        <columns class="footer-social--kayak-logo" large="7" small="6">
        <img src="{{root}}/assets/img/logo_orange.png" alt="Kayak logo" valign="middle">
        </columns>
        <columns large="3" small="6">
            <row class="social-icons">
                <columns small="4">
                    <img src="{{root}}/assets/img/facebook.png">
                </columns>
                <columns small="4">
                    <img src="{{root}}/assets/img/twitter.png">
                </columns>
                <columns small="4">
                    <img src="{{root}}/assets/img/instagram.png">
                </columns>
            </row>
        </columns>
    </row>


</container>
    <!-- <row class="sub-header">
        <columns class="show-for-large" large="1"></columns>
        <columns style="width:90%;">
            <row>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;" src="{{root}}assets/img/airplane.png">Flights</a>
                 </columns>
                <columns style="width:1%" class="sub-header__divider show-for-large"><span></span></columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;"  id="hotel-icon" src="{{root}}assets/img/bed.png">Hotels</a>
                </columns>
                <columns style="width:1%" class="sub-header__divider show-for-large"><span></span></columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center";><img class="icons" style="display: inline-block; vertical-align: bottom;" id="car-icon" src="{{root}}assets/img/car.png">Cars</a>
                </columns>
                <columns style="width:1%" class="sub-header__divider show-for-large"><span></span></columns>
                <columns class="show-for-large" small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;" src="{{root}}assets/img/umbrella.png">Packages</a>
                </columns>
            </row>
        </columns>  
        <columns class="show-for-large" large="1"></columns>
    </row> -->
