<container>
    <row class="sub-footer">
     <columns class="sub-footer__container">
        <!-- 1st column -->
        <row>
            <!-- Img Column -->
            
           <columns large="6" small="6"  class="appstores__left-column">
            <!-- <spacer class="hide-for-large"></spacer> -->
            <row class="circle-logo__footer">
                <!-- <columns class="hide-for-small" style="width:2%"></columns> -->
                <columns large="2" small="5">
                <img src="{{root}}/assets/img/logo_circle.png" alt="Kayak Logo" class="kayak-circle--logo">
                </columns>
                <columns large="9" small="6">
                    <!-- <spacer class="hide-for-large"></spacer> -->
                    <p>Download the App</p>
                    <span>Cheap flights, hotels & more</span>
                </columns>
            </row>              
            </columns>
          
        <!-- 2nd column -->
            <columns large="6" small="6" class="appstores__right-column">
                <a href="#" target="_blank"><img src="{{root}}/assets/img/appstore.png" id="appstore" class="float-left" alt="Download from the Appstore"></a>
                <a href="#" target="_blank"><img src="{{root}}/assets/img/playstore.png" id="playstore" class="float-center"  alt="Download from the Playstore"></a>
            </columns>
        </row>
    </columns>
    </row>
</container>

<container>
    <row class="footer-social">
        <columns class="footer-social--kayak-logo" large="7" small="6">
        <img src="{{root}}/assets/img/logo_orange.png" alt="Kayak logo" valign="middle">
        </columns>
        <columns large="3" small="6">
            <row class="social-icons">
                <columns small="4">
                    <a href="#"><img src="{{root}}/assets/img/facebook.png"></a>
                </columns>
                <columns small="4">
                    <a href="#"><img src="{{root}}/assets/img/twitter.png"></a>
                </columns>
                <columns small="4">
                   <a href="#"><img src="{{root}}/assets/img/instagram.png"></a>
                </columns>
            </row>
        </columns>
    </row>
    <row class="footer-menu">
        <columns class="show-for-large" large="1"></columns>
        <columns style="width:90%;">
            <row>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;" src="{{root}}assets/img/airplane.png">Flights</a>
                 </columns>
                <columns style="width:1%" class="footer-menu__divider show-for-large"><span></span></columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;"  id="hotel-icon" src="{{root}}assets/img/bed.png">Hotels</a>
                </columns>
                <columns style="width:1%" class="footer-menu__divider show-for-large"><span></span></columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center";><img class="icons" style="display: inline-block; vertical-align: bottom;" id="car-icon" src="{{root}}assets/img/car.png">Cars</a>
                </columns>
                <columns style="width:1%" class="footer-menu__divider show-for-large"><span></span></columns>
                <columns class="show-for-large" small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;" src="{{root}}assets/img/umbrella.png">Packages</a>
                </columns>
            </row>
        </columns>  
        <columns class="show-for-large" large="1"></columns>
    </row>
</container>
<container>
    <row class="footer-bottom">
        <columns class="footer-bottom__lower-links text-center">
        <center>
        <a href="#">Unsubscribe</a>
        <a href="#">Email Preferences</a>
        <a href="#">Feedback</a>
        <a href="#">Privacy Policy</a>
        </center>
        </columns>
    </row>
    <row class="info-privacy">
        <columns>
            <p class="info-privacy__text">
                This Privacy Policy describes how KAYAK Software Corporation and its subsidiaries, or subsidiaries of our parent company Booking Holdings Inc. that we manage (collectively, “KAYAK,” “we,” “our” or “us”) collect, use, process and share personal information. This Policy applies to visitors and users (individually, “you”) of KAYAK’s websites (including but not limited to KAYAK, momondo, HotelsCombined, SWOODOO, Cheapflights, checkfelix, and Mundi), applications, social media accounts, and other services (collectively, our “Services”). You can identify the KAYAK company that hosts a particular Service and is responsible for your information under this Policy here. Please note that your use of our Services is additionally subject to the KAYAK Terms and Conditions.
As the world’s leading travel search engine, KAYAK connects travelers with travel services and products offered by third parties, such as flights, accommodations, rental cars, packages, and travel insurance. This involves sharing personal information with third parties, including online travel agencies, hotels, rental car providers, airlines, and others (collectively, “travel partners”).
KAYAK is part of the Booking Holdings Inc. corporate group, which includes Booking.com, OpenTable, Priceline, Agoda, and Rentalcars.com, (collectively, “our group companies”). In some cases, we receive personal information from our group companies, and we share personal information with our group companies.
For more information about the information we share with third parties and the recipients of such information, please refer to the How We Share Your Information section of this Policy. Please note that this Policy does not otherwise cover the use of personal information by third parties or their services, and we do not take responsibility for their privacy practices.
You may have certain rights or choices that relate to your personal information, including choices about how we share your personal information with others. For more information, please refer to the Your Choices and Rights section of this Policy.
            </p>
        </columns>
    </row>
    <row class="copyright">
        <columns>
        <p>&copy; {{getYear}} Kayak Software Company</p>
        <p>7 Market Street Stamford, CT 06902-5810 US</p>
        </columns>
    </row>
</container>
    
