<container>
    <row class="header">
        <columns small="6" large="12" >
        <img src="https://i.postimg.cc/HnzK7Njb/logo.png" alt="Kayak Logo" title="Kayak" class="logo-white">
        </columns>
        <columns small="6" large="12" ><a href="#"><img src="https://i.postimg.cc/YSFsx0hr/user.png" alt="Login to your account" title="Login to your account" id="user" class="float-right"></a></columns>
    </row>
    <row class="sub-header">
        <columns class="show-for-large" large="1"></columns>
        <columns style="width:90%;">
            <row>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;" src="https://i.postimg.cc/PJHsDZyn/airplane.png">Flights</a>
                 </columns>
                <columns style="width:1%" class="sub-header__divider show-for-large"><span></span></columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;"  id="hotel-icon" src="https://i.postimg.cc/SRG0fs12/bed.png">Hotels</a>
                </columns>
                <columns style="width:1%" class="sub-header__divider show-for-large"><span></span></columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center";><img class="icons" style="display: inline-block; vertical-align: bottom;" id="car-icon" src="https://i.postimg.cc/tRdHjSRq/car.png">Cars</a>
                </columns>
                <columns style="width:1%" class="sub-header__divider show-for-large"><span></span></columns>
                <columns class="show-for-large" small="4" large="3">
                    <a href="#" class="text-center"><img class="icons" style="display: inline-block; vertical-align: bottom;" src="https://i.postimg.cc/4xq0tV42/umbrella.png">Packages</a>
                </columns>
            </row>
        </columns>  
        <columns class="show-for-large" large="1"></columns>
    </row>
</container>